<% layout("/layouts/boilerplate.ejs")%>
<div class="row ">
  <div class="col-4 offset-3">
    <div class="alert alert-warning cols-4 offset-3 mt-3" role="alert">
      <h3><%=err.message%></h3>
   
    </div>
  </div>
    
</div>